
html {text-align: center;  font-family: 'Inter', sans-serif;  letter-spacing: 0.2em;}

.fade {  -webkit-animation: fadein 2s;    -moz-animation: fadein 2s;    -ms-animation: fadein 2s;      -o-animation: fadein 2s;           animation: fadein 2s;}
.fadeslow {  -webkit-animation: fadein 4s;    -moz-animation: fadein 4s;    -ms-animation: fadein 4s;      -o-animation: fadein 4s;           animation: fadein 4s;}
.slideL{-webkit-animation: slideL 2s;    -moz-animation: slideL 2s;    -ms-animation: slideL 2s;      -o-animation: slideL 2s;           animation: slideL 2s;}
.slideR{-webkit-animation: slideR 2s;    -moz-animation: slideR 2s;    -ms-animation: slideR 2s;      -o-animation: slideR 2s;           animation: slideR 2s;}

@keyframes slideL {  0% {  transform: translateX(-3em);  opacity: 0; } 100% {   transform: translateX(0);   opacity: 1; }}
@keyframes slideR {  0% {  transform: translateX(3em);  opacity: 0; } 100% {   transform: translateX(0);   opacity: 1; }}



@keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-moz-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-webkit-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-ms-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-o-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}

@keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-moz-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-webkit-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-ms-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}
@-o-keyframes fadein {  from { opacity: 0; }  to   { opacity: 1; }}



  .shake {    animation: shake 2000ms infinite;   transform-origin: bottom center }

@keyframes shake {  

  0% { transform:  rotate(0deg) }  
  1% { transform: rotate(-1.5deg)}  
  2% { transform:  rotate(0deg) }  
  3% { transform:  rotate(1.5deg)}  
  5% { transform:  rotate(0deg) }  
  7% { transform: rotate(-1deg) }  
  9% { transform:  rotate(0deg) }
  11% { transform: rotate(1deg) }  
  14% { transform:  rotate(0deg) }
  18% { transform: rotate(-0.5deg)  }  
  22% { transform:  rotate(0deg)}
  26% { transform: rotate(0.5deg)  }  
  30% { transform:  rotate(0deg)}
}


div.dropnav { opacity: 0.01; max-height: 0px; transition: opacity 1s, max-height 0s 1s; }
div.navwrapper:hover div.dropnav { opacity: 1; max-height: 999px; transition: opacity 1s, max-height 0s; }


body{  background-repeat: no-repeat;
  background-color: #5A5379;
  background-attachment: fixed;
  background-position: right; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;}

.body-index{background-image: url(bkg2.jpg);
}
.body-links{background-image: url(bkg1.jpg);}
.body-spicy{background-image: url(spicy.jpg);  background-position: left;}

.logo {border-radius: 50%; width:12em;}
.watermark { width:20em;}


header{margin-top:2em; margin-bottom:2em;}

.button-container { margin: 0 auto; max-width: 56em;}
.link-container { margin: 0 auto; max-width: 40em;}

.white{color:white}
.dark{color:rgba(2,20,25,1)}


p{  font-size:1.9em;  text-shadow: 2px 2px rgba(2,20,25,0.5);}

button { width:100%;
  font-family: 'Inter', sans-serif;
  border: 0.2em solid #FA6D77;
  border-radius: 2em;
  background-color: #FA6D77; /* Green */
  padding: 0.8em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:2.2em;
  letter-spacing: 0.2em;
  margin:0.2em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.svg{ font-size: 1.1em;

  display:inline-block;
  text-shadow: none;
}
.svg:hover{ font-size: 1.1em;}
  
  button:hover {
    background-color: rgba(0,0,0,0); /* Green */
    border: 0.2em solid #FA6D77;
    color:#ffffff;
  }

  .little{
    width:auto;
    border: 0.2em solid white;
    background-color: white; /* Green */
  }

  .little:hover{
    border: 0.2em solid white;
    background-color: white; /* Green */
    color:rgba(2,20,25,1);
    transform: translateX(-5px);
  }

.flex { display: flex;  flex-wrap: nowrap;}

.flex > div {  width: 4em;  margin: 0.3em;  text-align: center;  line-height: 3em;  font-size: 2em;}
span {font-family:Arial, Helvetica, sans-serif}

i{  font-size: 1.6em;  text-shadow: 2px 2px rgba(2,20,25,0.5);}

i:hover{  font-size: 1.7em;}

@media (max-height:1000px) { 
  button { width:75%;
    font-family: 'Inter', sans-serif; 
    border: 3px solid #FA6D77;
    border-radius: 2em;
    background-color: #FA6D77; /* Green */
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1.1em;
    letter-spacing: 0.15em;
    margin: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .little{
    width:auto;
    border: 2px solid white;
    background-color: white; /* Green */
  }

  button:hover {
    background-color: rgba(2,20,25,0.5); /* Green */
    border: 3px solid #FA6D77;
    color:#ffffff;
  }
  .little:hover{
    border: 2px solid white;
    background-color: white; /* Green */
    color:rgba(2,20,25,1);
    transform: translateX(-5px);
  }
 
  i{  font-size: 30px;}

i:hover{  font-size: 32px;}
p{  font-size:16px;}
}